
.container-Registration{
    position: absolute;
    margin: 80px 200px 100px 270px;
    width: 800px;
    height: 750px;
    align-content: center;
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.container-Registration .header{
    margin-top: 80px;
    text-align: center;
}

.form .block-registration{
    margin: 10px 85px 5px 85px;
    color: #333;
    font-size: 16px;
    opacity: 0.8;
}
.form .row .col .block-registration{
    margin: 10px 10px 0px 85px;
    width: 250px;
}

.form .row-2{
    margin-left: 2px;
}
.form .row .col .block-4{
    margin-left: 60px;
}
.form .row .block-5{
    margin-right: 0px;
    width: 250px;
}
.form .row .block-6{
    margin-left: 125px;
    width: 250px;
}
.form .block-7{
    width: 630px;
}
.form .block-registration .input:focus{
    color: black;
    border-color: #fff;
    border-bottom: 3px solid orange;
    -webkit-box-shadow: none;
    outline: none;
}
.form .button{
    margin-left: 265px;
    width: 250px;
    height: 50px;
    color: white;
    background-color: rgba(255, 172, 0, 0.9);
    margin-top: 60px;
    opacity: 0.8;
}

.form .button:hover{
    opacity: 1;
}


