*{
    padding: 0;
    margin: 0;
    max-width: 1120px;
    outline: 0;
}
.formBackground{
    position: absolute;
    left: 50%; 
    top: 50%; 
    transform: translate(-50%,-50%);
    display: flex;
    justify-content: center;
    position: absolute;
    width: 1500px;
    height: 600px;
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    padding: 10px 10px 10px 10px;
    opacity: 0.97;
}
.flexInputs{
    margin-top: 30px;
    display: flex;
    flex-grow: 1;
    flex: 1;
}
.flexInputs .bankInputs{
    display: block;
}
.flexInputs .bankInputs .label{
    text-shadow: rgb(0, 0, 0, 05, 50, 50);
    font-size: 14px;
}
.bankInputs .input-bank{
    width: 195px;
    height: 30px;
    border: 1px solid #c4c4c4;
    box-sizing: border-box;
    border-radius: 5px;
    margin-right: 14px;
}
.bankInputs .input-bank:focus{
    border-color: #fff;
    border-bottom: 3px solid orange;
    -webkit-box-shadow: none;
    box-shadow: none;
    outline: none;
}
.Form .input2{
    width: 819px;
    height: 30px;

}
.Form .input2:focus{
    border-color: #fff;
    border-bottom: 3px solid orange;
    -webkit-box-shadow: none;
    box-shadow: none;
    outline: none;
}
div .inputimg{
    overflow: hidden;
    opacity: 0;
    width: 260px;
    height: 240px;
}
div .imgPreview img{
    width: 160px;
    height: 140px;
    opacity: 0.9;
    border-radius: 50%;
}
div .imgLabel{
    margin-top: 82px;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 26px;
}
.formBackground .logOff{
    background-color: #c4c4c4;
    border-radius: 4PX;
    height: 30px;
    width: 30px;
    color: rgb(7, 132, 209);
}
.fiIcon{
    width: 30px;
    height: 30px;
    pointer-events: none;
    pointer-events: none;
    background: transparent;
    position: absolute;
}
div .imageInput{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 160px;
    height: 140px;
    background: rgb(238, 238, 238);
    border: 1px solid #C4C4C4;
    box-sizing: border-box;
    border-radius:50%;
    /*background-image: url("C:/Users/Pichau/Documents/GitHub/Web-project---money-donation/website/src/Assets/Logo-Greyscale1.png");*/
    background-repeat: no-repeat;
    background-position-x: center;
    background-position-y: center;
    background-size: 150px 147px;
    margin-right: 55px;
}
.Form .textInput{
    width: 398px;
    height: 130px;
    background: #FFFFFF;
    border: 1px solid #C4C4C4;
    box-sizing: border-box;
    border-radius: 5px;
    text-align: left;
}
.Form .textInput:focus{
    border-color: #fff;
    border: 2px solid orange;
    -webkit-box-shadow: none;
    box-shadow: none;
    outline: none;
}
.Form .cardImg{
    width: 242px;
    height: 86px;
}
.Form .ongCard{
    display: flex;
    align-items: center;
    position: absolute;
    left: 550px;
    top: 350px;
    background: #FFFFFF;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 43px;
}
.card-body{
    height: 300px;
    width: 230px;
    max-width: 230px;
    max-height: 300px;
}
.Form .label{
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 26px;
}
.doeButton{
    position: absolute;
    top: 290px;
    width: 242px;
    height: 113.94px;
    max-width: 242px;
    max-height: 113.94px;
}
.Form .saveButton{
    width: 198px;
    height: 52px;
    margin-left: 200px;
    background: #61BAF1;
    border: 1px solid #61BAF1;
    box-sizing: border-box;
    border-radius: 10px;
    
    font-family: Roboto;
    font-style: normal;
    font-weight: 900;
    font-size: 24px;
    line-height: 28px;

    color: #FFFFFF;

    margin-top: 69px;
    display: flex;
    justify-content: center;
}
.casesBG{
    width: 1500px;
    height: auto;
    position: absolute;
    top: 100%;
    left: 50%;
    transform: translate(-50%,-0%);
    background-color: white;
    opacity: 0.97;
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    padding: 10px 10px 10px 10px;
    opacity: 0.9;
}
ul{
    margin-left: 15px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
li{
    margin-bottom: 20px;
    height: auto;
}
.deleteBtn{
    align-self: flex-end;
    margin-right: 10px;
    margin-bottom: 10px;
}