@import url('https://fonts.googleapis.com/css?family=Roboto:400,500,700&display=swap');

*{
    margin:0;
    padding:0;
    outline:0;
    box-sizing: border-box;
}

body{
    font:400 14px Roboto, sans-serif;
    background:#F0F0F5;
    -webkit-font-smoothing: antialiased;
    /* Escolha o caminho de acordo com o seu diretorio, e comente o restante*/
    /* background-image: url("C:/Users/jvmma/Documents/GitHub/Web-project---money-donation/website/src/Assets/bgImage.png");
    background-image: url("C:/Users/jvmma/Documents/GitHub/Web-project---money-donation/website/src/Assets/bgImage.png");
    background-image: url("C:/Users/jvmma/Documents/GitHub/Web-project---money-donation/website/src/Assets/bgImage.png");
    background-image: url("C:/Users/jvmma/Documents/GitHub/Web-project---money-donation/website/src/Assets/bgImage.png");
    background-image: url("C:/Users/jvmma/Documents/GitHub/Web-project---money-donation/website/src/Assets/bgImage.png");
    background-image: url("C:/Users/jvmma/Documents/GitHub/Web-project---money-donation/website/src/Assets/bgImage.png");*/
    background-image: url("C:/Users/Pichau/Documents/GitHub/Web-project---money-donation/website/src/Assets/bgImage.png"); 

}
