.logon-container{
    /*Comprimento de 100% da tela*/
    width: 100%;
    /*Limitando o valor maximo de largura*/
    max-width: 1120px;
    /*Ocupando a altura toda do corpo*/
    height: 100vh;
    /*Mantendo o conteudo sempre centralizado na tela*/
    margin: 0 auto;

    /*Alinha os elementos um ao lado do outro*/
    display: flex;
    /*Alinha os itens verticalmente ao centro*/
    align-items: center;
    /*Alinha os itens horizontalmente ao centro*/
    justify-content: space-between;
}
.logon-container section.form{
    width: 100%;
    max-width: 350px;
    margin: 30px;
}
.logon-container section.form form {
    margin-top: 100px;

}
.logon-container section.form form h1{
    text-align: center;
    color:#333;
    font-size: 32px;
    margin-bottom: 32px;
}