*{
    padding:0;
    border:0;
    max-width: 1120px;
    margin: 0;
}
html{
    height: 0;
}
header .navbar{
    width: 100%;
    margin-bottom: 50px;
    background-color: rgb(255, 255, 255);
}
nav.navbar.navbar-expand-xl.navbar-light.bg-light{
    min-width: 100vw;
    margin: 0;
}
.video-container{
    width: 1280px;
    height: 620px;
    margin-bottom: 50px;
}
div .all{
    height: auto;
    min-width: 100vw;
}
.carousel{ 
    all:unset;
    display: flex;
    justify-content: center;;
    margin-bottom: 20px;
}
.cards{
    all:unset;
    margin-top: 10px;
    display: flex;
    justify-content: center;
}